streamlit==1.33.0
langchain==0.1.20
langchain-community==0.2.1
langchain-chroma==0.1.2
chromadb==0.4.24
pydantic==1.10.13
sentence-transformers==2.7.0
PyPDF2
python-dotenv
google-generativeai
langchain-google-genai                
langchain-text-splitters
pandas
numpy
